h1{
    background-color:unset;
    color:aliceblue;
    font-size: larger;
    text-align: center;
}
body{
    background-color: rgb(4, 31, 100);
}
h2{
    background-color:unset;
    color:rgb(30, 170, 105);
    font-size: larger;
    text-align:left;
}